:root {
    --color0: #202225;
    --color1: #292b2f;
    --color2: #2f3136;
    --color3: #fff;
    --color3hover: #e6e6e6;
    --color4: #8a4b38;
    --color4hover: #774131;
}

body, html {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: var(--color1);
}

h1,
h2,
h3,
h4,
h5,
.nav-link {
    font-family: "Titillium Web";
}

/* #region header */

nav {
    height: 50px;
    background: var(--color0);
    position: relative;
    overflow-x: auto;
    z-index: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
}

.nav-link-active,
.nav-link:hover {
    background: var(--color2);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-side {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 10px;
}

/* #endregion */

/* #region sections */

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    position: relative;
    width: 100%;
}

.section:nth-child(2n) {
    background: var(--color2);
}

.section-content {
    padding: 30px 15px;
}

/* #endregion */

/* #region top-buttons */

#top-buttons {
    display: flex;
}

.top-button {
    padding: 0 12px;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    background: var(--color4);
}

    .top-button > svg {
        height: 32px;
        flex-shrink: 0;
        margin-right: 10px;
    }

.top-button-info {
    display: flex;
    flex-direction: column;
}

.top-button-sub-info {
    font-size: 13px;
}

#github-button {
    color: #222;
    background: var(--color3);
    margin-right: 15px;
}

    #github-button:hover {
        background: var(--color3hover);
    }

#star-count {
    display: flex;
    align-items: center;
}

    #star-count > svg {
        margin-right: 2px;
    }

#download-button {
    color: #fff;
    padding-right: 5px;
    border-radius: 5px 0 0 5px;
    z-index: 1;
}

#vertical-line {
    width: 2px;
    height: 50px;
    background: var(--color4);
    padding: 0 4px;
}

    #vertical-line > div {
        margin-top: 5px;
        height: 40px;
        background: #fff;
        border-radius: 1px;
    }

#download-arrow {
    position: relative;
    color: #fff;
    padding: 0 4px 0 10px;
    border-radius: 0 5px 5px 0;
    background: var(--color4hover);
    cursor: pointer;
}

    #download-arrow > svg {
        height: 20px;
        transform: rotateZ(180deg);
    }

    #download-arrow[disabled] > svg {
        transform: rotateZ(0);
    }

#download-arrow[disabled] {
    background: var(--color4);
}

#download-button:hover, #download-arrow:hover {
    background: var(--color4hover);
}

#download-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52px;
    right: 0;
    width: 220px;
    background: var(--color4);
    border-radius: 5px;
    border: 2px solid var(--color4hover);
    box-sizing: border-box;
    z-index: 1;
}

.download-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 10px;
    margin-left: -1px;
    color: var(--color3);
    text-decoration: none;
}

.download-item:hover {
    background: var(--color4hover);
}

    .download-item > div {
        display: flex;
        align-items: center;
    }

.download-item-svg {
    width: 24px;
    margin-right: 10px;
}

/* #endregion */

#social-buttons {

}