:root {
    --color0: #202225;
    --color1: #292b2f;
    --color2: #2f3136;
    --color3: #fff;
    --color3hover: #e6e6e6;
    --color4: #c4c4c4;
    --color4hover: #959595;
    --color5: #8a4b38;
    --color5hover: #774131;
}

body, html {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color3);
    background: var(--color1);
}

h1, .nav-link {
    font-family: "Titillium Web";
}

code {
    background: var(--color0);
    padding: 3px 4px;
    border-radius: 5px;
}

/* #region header */

nav {
    height: 50px;
    background: var(--color0);
    position: relative;
    overflow-x: auto;
    z-index: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    color: var(--color3);
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
}

.nav-link-active,
.nav-link:hover {
    background: var(--color2);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-side {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 10px;
}

/* #endregion */

/* #region sections */

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    position: relative;
    width: 100%;
}

.section:nth-child(2n) {
    background: var(--color2);
}

.section-content {
    padding: 30px 15px;
}

/* #endregion */

/* #region top-info */

h1 {
    margin-top: 30px;
}

p {
    margin: 10px 0 15px 0;
}

#top-buttons {
    display: flex;
}

.top-button {
    padding: 0 12px;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}

    .top-button > svg {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin-right: 10px;
    }

.top-button-info {
    display: flex;
    flex-direction: column;
}

.top-button-sub-info {
    font-size: 13px;
}

#github-button {
    color: #222;
    background: var(--color3);
    margin-right: 15px;
}

    #github-button:hover {
        background: var(--color3hover);
    }

#star-count {
    display: flex;
    align-items: center;
}

    #star-count > svg {
        margin-right: 2px;
    }

#download-button {
    display: flex;
}

#download-button-link {
    flex-grow: 1;
    color: var(--color3);
    background: var(--color5);
    border-radius: 5px 0 0 5px;
}

#download-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    box-sizing: border-box;
    color: var(--color3);
    background: var(--color5);
    margin-left: 2px;
    border-radius: 0 5px 5px 0;
}

#download-button-link:hover, #download-arrow:hover {
    background: var(--color5hover);
}

    #download-arrow > svg {
        height: 20px;
    }
    
    .download-arrow-active > svg {
        transform: rotateZ(180deg);
    }

.download-arrow-active {
    background: var(--color5hover);
}

#download-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52px;
    right: 0;
    width: 220px;
    z-index: 1;
}

.download-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
    color: var(--color3);
    background: var(--color5);
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}

.download-item:nth-child(2) {
    border-radius: 0 0 5px 5px;
}

.download-item:hover {
    background: var(--color5hover);
}

    .download-item > div {
        display: flex;
        align-items: center;
    }

.download-item-svg {
    width: 20px;
    height: 25px;
    margin-right: 10px;
}

#social-buttons {
    display: flex;
    align-items: center;
    margin: 20px 0 40px 0;
}

.social-button {
    width: 20px;
    color: var(--color4);
    margin-right: 15px;
}

    .social-button:hover {
        color: var(--color4hover);   
    }

@media only screen and (max-width: 550px) {
    h1 {
        margin: 0;
    }

    #top-buttons {
        flex-direction: column;
    }

    #github-button {
        margin: 0;
    }

    #download-button {
        margin-top: 8px;
    }

    #social-buttons {
        margin-bottom: 0;
    }
}

/* #endregion */

/* #region learn */

#learn {
    display: flex;
}

#learn-nav {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 30px 50px 0 0;
}

.learn-link {
    color: var(--color4);
    text-decoration: none;
    margin-bottom: 12px;
}

    .learn-link:hover {
        color: var(--color4hover);
    }

    .learn-link-sub {
        margin-left: 20px;
    }

/* #endregion */