html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    color: #fff;
    background: #292b2f;
}

h1,
h2,
h3,
h4,
h5,
.nav-link {
    font-family: "Titillium Web";
}

/* #region header */

nav {
    height: 50px;
    background: #202225;
    position: relative;
    z-index: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
}

.nav-link-active,
.nav-link:hover {
    background: #3a3b42;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-side {
    display: flex;
    align-items: center;
}

#logo {
    margin-right: 10px;
}

/* #endregion */

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    position: relative;
    width: 100%;
}

.section-odd {
    background: #2f3136;
}

.section-content {
    padding: 30px 15px;
}

.github-button {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #fff;
    color: #222;
    text-decoration: none;
    border-radius: 5px;
}

.github-svg {
    height: 32px;
    flex-shrink: 0;
    margin: 0 10px;
}