.editor {
    position: relative;
    color: var(--color3);
    background: var(--color0);
    border-radius: 5px;
    overflow: hidden;
}

.editor-textarea, .editor-overlay, .editor-current-line {
    width: calc(100% - var(--editor-lines-width));
    position: absolute;
    left: 0;
    top: 0;
    margin-left: var(--editor-lines-width);
}

.editor-textarea, .editor-overlay {
    height: 100%;
    box-sizing: border-box;
    tab-size: 4;
    line-height: 18px;
    padding: 3px 6px;
}

.editor-textarea {
    resize: none;
    color: transparent;
    background: none;
    caret-color: #fff;
    outline: none;
    border: 0;
    white-space: pre;
    font-family: monospace, monospace;
    z-index: 20;
}

.editor-overlay {
    pointer-events: none;
    white-space: pre;
    overflow: auto;
    z-index: 10;
}

.editor-lines {
    width: var(--editor-lines-width);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #858585;
    padding: 3px 10px 3px 0;
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden;
}

    .editor-lines > div {
        height: 18px;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 12px;
    }

.editor-current-line {
    height: 18px;
    border: 2px solid #282828;
    box-sizing: border-box;
}