#learn > div {
	display: flex;
}

#learn-nav {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	margin: 10px 50px 0 0;
}

#learn-content {
	width: 100%;
}

.learn-link:first-child {
	margin-top: -10px;
}

.learn-link {
	text-decoration: none;
	padding: 10px;
	margin: 2px 0;
}

	.learn-link-sub {
		margin-top: -4px;
		margin-left: 20px;
	}

.learn-link-separator {
	width: 100%;
	height: 2px;
	margin: -2px auto;
	border-radius: 10px;
	background: var(--color4hover);
}

.learn-link-active {
	color: var(--color3) !important;
}

.hash-link {
	margin-left: 6px;
	text-decoration: none;
}

	.hash-link:hover {
		text-decoration: underline;
	}

#guessing-game-steps {
	position: relative;
	z-index: 10;
	margin-top: -1px;
}

#guessing-game-steps li[current] > span {
	text-decoration: underline;
}

#guessing-game-input {
	width: 50px;
	margin-left: 5px;
}

#learn-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

#learn-left, #learn-right {
	width: 60px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color5);
	border-radius: 5px;
}

	#learn-left > svg, #learn-right > svg {
		width: 30px;
		height: 30px;
		fill: var(--color6);
	}

	#learn-left[disabled], #learn-right[disabled] {
		pointer-events: none;
		opacity: 0.3;
	}

@media only screen and (max-width: 750px) {
	#learn > div {
		flex-direction: column;
	}

	#learn-nav {
		margin-bottom: 30px;
	}
}