#learn {
    display: flex;
}

#learn-nav {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 30px 50px 0 0;
}

.learn-link {
    text-decoration: none;
    margin-bottom: 12px;
}

    .learn-link-sub {
        margin-left: 20px;
    }

.learn-link-active {
    color: var(--color3) !important;
}

#learn-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#learn-left, #learn-right {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color5);
    border: none;
    border-radius: 5px;
}

    #learn-left > svg, #learn-right > svg {
        width: 30px;
        height: 30px;
        color: var(--color6);
    }