embed('client/css/normalize.css');

/* #region main */

:root {
    color-scheme: dark;
    --editor-lines-width: 50px;
    --color0: #202225;
    --color1: #292b2f;
    --color2: #2f3136;
    --color3: #fff;
    --color3hover: #d9d9d9;
    --color4: #bfbfbf;
    --color4hover: #999999;
    --color5: #8a4b38;
    --color5hover: #774131;
    --color6: #d99e82;
}

body, html {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color3);
    background: var(--color1);
    overflow-x: hidden;
}

h1, .nav-link {
    font-family: "Titillium Web";
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
}

p {
    line-height: 24px;
}

p:last-child, ul:last-child {
    margin-bottom: 0;
}

a, a:link, a:visited {
    color: var(--color4);
}

    a:hover {
        color: var(--color4hover);
    }

.code {
    color: var(--color3);
    background: var(--color0);
    border-radius: 5px;
    padding: 3px 6px;
}

/* #endregion */

/* #region header */

#header {
    width: 100%;
    height: 50px;
    background: var(--color0);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: auto;
    z-index: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    color: var(--color3);
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
}

    .nav-link:link, .nav-link:visited {
        color: var(--color3);
    }

    .nav-link:hover {
        background: var(--color1);
    }

    .nav-link-active {
        background: var(--color2) !important;
    }

.nav-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-side {
    display: flex;
    align-items: center;
}

#logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

/* #endregion */

/* #region sections */

.page {
    margin-top: 50px;
}

.content {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    position: relative;
    width: 100%;
}

.section:nth-child(2n) {
    background: var(--color2);
}

.section-content {
    padding: 50px 15px;
}

@media only screen and (max-width: 550px) {
    .section-content {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

/* #endregion */

embed('client/css/landing.css');
embed('client/css/learn.css');
embed('client/css/playground.css');
embed('client/css/editor.css');