#playground-content {
    display: flex;
}

#playground-code {
    height: 500px;
    flex-basis: 50%;
    flex-grow: 1;
    white-space: nowrap;
    resize: none;
    box-sizing: border-box;
    font-family: monospace,monospace;
    margin-right: 5px;
}

#playground-output {
    flex-basis: 50%;
    white-space: break-spaces;
    margin-left: 5px;
}

.output-divider {
    display: flex;
    align-items: center;
    color: var(--color4);
}

    .output-divider::before {
        flex: 1;
        margin-right: 5px;
        border-top: var(--color4);
        content: '';
    }
    
    .output-divider::after {
        flex: 1;
        margin-left: 5px;
        border-top: var(--color4);
        content: '';
    }