#playground-content {
    display: flex;
    margin-top: 10px;
}

#playground-code, #playground-output {
    min-height: 600px;
    flex-basis: 50%;
}

#playground-code {
    white-space: nowrap;
    font-family: monospace, monospace;
    margin-right: 5px;
}

#playground-output {
    position: relative;
    white-space: break-spaces;
    overflow-y: auto;
    margin-left: 5px;
}

#playground-timer {
    position: absolute;
    border-bottom: 2px solid var(--color5);
    left: 0;
    bottom: 0;
    border-radius: 0 0 5px 5px;
}

.output-divider {
    display: flex;
    align-items: center;
    color: var(--color6);
    margin: 10px 0;
}

    .output-divider::before {
        flex: 1;
        margin-right: 10px;
        border-top: 1px solid var(--color5);
        content: '';
    }
    
    .output-divider::after {
        flex: 1;
        margin-left: 10px;
        border-top: 1px solid var(--color5);
        content: '';
    }

@media only screen and (max-width: 750px) {
    #playground-content {
        height: calc(100vh - 144px);
        flex-direction: column;
    }

    #playground-output {
        margin-top: 10px;
    }
}