@keyframes landing-scroll-show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes landing-scroll-move {
	25% { transform: translate(-50%, calc(-50% - 2px)); }
	50% { transform: translate(-50%, -50%); }
	75% { transform: translate(-50%, calc(-50% + 2px)); }
}

#landing-scroll-down {
	position: absolute;
	top: 4.5vh;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	height: 36px;
	padding: 4px;
	fill: var(--color4);
	animation: landing-scroll-show 1s, landing-scroll-move 1s linear infinite;
	transition: opacity 200ms;
	cursor: pointer;
}

@media only screen and (min-height: 1250px) {
	#landing-scroll-more {
		display: none;
	}
}

/* #region first */

.content:nth-child(2n) {
	background: var(--color2);
}

#landing-first {
	display: flex;
	justify-content: center;
	align-items: center;
}

#landing-first-top {
	position: absolute;
	top: 12%;
	text-align: center;
}

	#landing-first-top > h1 {
		font-size: 50px;
		margin: 0;
	}

	#landing-first-top > h2 {
		font-size: 32px;
		margin: 16px 0 32px 0;
	}

	#landing-first-top-h3 {
		font-size: 22px;
		font-weight: normal;
		margin-left: 5px;
	}

#landing-first-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.top-button {
	padding: 0 20px;
	height: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	border-radius: 5px;
	font-size: 15px;
	gap: 10px;
}

	.top-button > svg {
		width: 32px;
		height: 32px;
		flex-shrink: 0;
	}

.top-button-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-button-info-top {
	display: flex;
	align-items: center;
}

	.top-button-info-top > .download-item-svg {
		height: 14px;
		margin: 0;
	}

.top-button-info-bottom {
	font-size: 13px;
	text-align: initial;
}

#github-button {
	color: var(--color2);
	fill: var(--color2);
	background: var(--color3);
	box-sizing: border-box;
}

	#github-button:hover {
		background: var(--color3hover);
	}

#star-count {
	display: flex;
	align-items: center;
}

	#star-count > svg {
		margin-right: 2px;
	}

#social-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}

.social-button {
	width: 20px;
	padding: 8px;
	transition: fill 200ms, transform 200ms;
}

	.social-button:not(:hover) {
		fill: var(--color4) !important;
	}

	.social-button:hover {
		transform: scale(1.5);
	}

#landing-first-cup {
	position: absolute;
	bottom: -140px;
	width: 450px;
	height: 60%;
	max-height: 450px;
	transition: transform 50ms;
	cursor: pointer;
}

	#landing-first-cup:active {
		transform: translateY(8px);
	}

.landing-falling-cup {
	position: absolute;
	pointer-events: none;
	user-select: none;
	z-index: 100;
}

/* #endregion */

/* #region example */

#landing-example {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

#landing-example-top {
	text-align: center;
	margin-bottom: 30px;
}

	#landing-example-top > h2 {
		font-size: 40px;
	}

	#landing-example-top > p {
		font-size: 20px;
	}

#landing-example > .editor {
	max-width: 100%;
	width: 350px;
	max-height: 100px;
}

/* #endregion */

/* #region features */

#landing-features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

	#landing-features > div > h2 {
		font-size: 40px;
	}

	#landing-features > div > ul {
		font-size: 20px;
	}

/* #endregion */

/* #region community */

#landing-community {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

#landing-community-top {
	text-align: center;
	margin-bottom: 30px;
}

	#landing-community-top > h2 {
		font-size: 40px;
	}

	#landing-community-top > p {
		font-size: 20px;
	}

#community-buttons {
	display: flex;
	max-width: 100%;
	gap: 10px;
}

#discord-button, #reddit-button {
	height: 50px;
	box-sizing: border-box;
	display: flex;
	gap: 50px;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 15px;
	color: #fff;
	fill: #fff;
}

	#discord-button > svg, #reddit-button > svg {
		height: 32px;
		margin-right: 5px;
	}

#discord-button {
	background: #5865f2;
}

	#discord-button:hover {
		background: #4650c1;
	}

#reddit-button {
	background: #ff4500;
}

	#reddit-button:hover {
		background: #cc3700;
	}

/* #endregion */

/* #region start */

#landing-start {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
}

/* #endregion */

@media only screen and (max-width: 700px) {
	#landing-first-top {
		position: initial;
	}

	#landing-first-cup {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	#landing-first > div {
		width: 100%;
	}

	#landing-first-buttons {
		flex-direction: column;
	}

		#landing-first-buttons > .download-button, #github-button {
			width: 300px;
			max-width: 100%;
		}
		
	#community-buttons {
		flex-direction: column;
	}
}