#playground-content {
	display: flex;
	gap: 10px;
	margin-top: -1px;
}

#playground-editor, #playground-output {
	min-height: 500px;
	max-height: 500px;
	flex-basis: 50%;
}

#playground-output {
	position: relative;
	box-sizing: border-box;
	white-space: break-spaces;
	overflow-y: auto;
	border: 2px solid var(--color2);
}

#playground-timer {
	position: absolute;
	border-bottom: 2px solid var(--color5);
	left: 0;
	bottom: 0;
}

.output-divider {
	display: flex;
	align-items: center;
	color: var(--color6);
	margin: 10px 0;
}

	.output-divider::before {
		flex: 1;
		margin-right: 10px;
		border-top: 1px solid var(--color5);
		content: '';
	}
	
	.output-divider::after {
		flex: 1;
		margin-left: 10px;
		border-top: 1px solid var(--color5);
		content: '';
	}

@media only screen and (max-width: 750px) {
	#playground-content {
		flex-direction: column;
	}

	#playground-editor {
		margin: 0;
	}

	#playground-output {
		margin: 10px 0 0 0;
	}
}
