<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}Cache Programming Language</title>
    <meta name="author" content="jgrajewsky">
    <meta name="description" content="Tired of C++? Try Cache.">
    <meta name="keywords" content="cache,programming,language,download,github,discord,reddit,official">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <style type="text/css">
        body {
            margin: 0;
        }

        nav {
            height: 50px;
            background: #111;
        }

        .content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
            background: #1e202a;
        }
    </style>
</head>

<body>
    <nav>
        <div class="content">

        </div>
    </nav>

    <div class="content">
        {{ content }}
    </div>

    <footer>

    </footer>
</body>

</html>