#search-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: -50%;
	width: 200%;
	height: 100%;
	background: #00000080;
	z-index: 2000;
	animation: fly 200ms;
}

	#search-overlay[search] {
		display: block;
	}